.menu-item {
  flex: 1;
  text-align: center;
  margin-right: 15px;
}

.menu-item .menu-img {
  min-width: 100px;
  max-width: 300px;
  overflow: hidden;
}
.menu-item .menu-img img {
  width: 100%;
  height: auto;
}
