.order-summary-card .item-row {
  display: flex;
}

.order-summary-card .item-row > div {
  margin: 5px 0;
}

.order-summary-card .item-row:last-child {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.order-summary-card .item-name {
  flex: 2;
  font-weight: 600;
}
.order-summary-card .item-quantity {
  flex: 1;
}

.order-summary-card .item-price {
  flex: 1;
}

.order-summary-card .order-total {
  margin: 15px 0;
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
}

.order-summary-card .actions button {
  width: 100%;
}

.order-summary-card .actions .cancel-order {
  font-size: 1em;
}
